{% extends "new_repair.html" %}
<!DOCTYPE html>
{% block content %}
<style>
.container-fluid{
  padding-top:20px;

  }</style>
<body>
  <br />
  <br />
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        {% if form.errors %}
          <p>Your username and password didn't match. Please try again.</p>
        {% endif %}
          <form method="post" action="{% url 'accounts:login' %}">
        {% csrf_token %}
          <table>
        {{ form }}
          </table>
            <input type="submit" value="login" />
              <input type="hidden" name="next" value="/newrepair" />
        </form>
      </div>
    </div>
  </div>
</body>

{% endblock %}
